.casilla-negra {
    background-color: gray;
    width: 60px;
    height: 60px;
    font-size: 50px;
    text-align: center;
}

.casilla-blanca {
    background-color: yellow;
    width: 60px;
    height: 60px;
    font-size: 50px;
    text-align: center;
}
